body{
    font-family:20px;

}
nav{
    /*border:2px solid red;*/
    margin: 20px auto;
    width: 400px;
    overflow: hidden;
    background-color: rgb(46, 44, 44);
 
}
/*ul{
    background-color: rgb(46, 44, 44);
}*/

.první a{
    margin: 10px;
    display: block;
    
}
.druhé{
    margin: 10px;
    display: inline;
}
.třetí{
    margin: 10px;
    display: inline-block;
}

a{
    text-decoration: none;
    /*display: block*/;
    text-align: left;
    padding: 14px 16px;
    color: rgb(255, 255, 255);

}
a:hover{
    background-color: black;
    
}
li{
    list-style-type: none;
    float: left;
}

h1{
    border: 2px solid blue;
    width:400px;
    margin: 10px auto;
    text-align: center;
}
.kytka{
    float: right;
    margin: 0 20px 0 10px;
}
p{
    margin: 20px;
    text-align: justify;
    font-size: 0.5em;
}