nav{
    background-color:grey;
    width: 500px;
    /*margin-top: 30px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 40px;*/
    margin: 20px auto;

}
a{
    text-decoration: none;
    display: block;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    padding: 16px 14px;
    }
a:hover{
    background-color: black;
}
ul{
    list-style-type: none;
    overflow: hidden;
 
}
li{

    float: left;
    padding: 20px;
}

h1{
    /*border: 2px solid blue;*/
    width: 200px;
    margin: 20px auto;
    text-align: center;
}
.kytka{
    float: left;
    padding: 0px 10px;
}
p{
    text-align: justify;

}
