*{
    background-color: lightgoldenrodyellow;
}
h1{
    color: darkmagenta;
}
.modre_pismo{
    color: blue;
}
.cervene_pismo{
    color: crimson;
}
a{
    color: aquamarine;
}
p{
    color: red;
}